---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main
      class="h-screen bg-purple-700 flex justify-center items-start flex-wrap"
    >
      <div class="flex w-full justify-center flex-wrap pt-16">
        <h1 class="text-white text-8xl font-sans font-extrabold">Zekon</h1>
        <p class="text-white font-bold">LLC</p>
        <p class="w-full text-center font-bold text-xl">General Contractor</p>
      </div>
    </main>
  </body>
</html>
