---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Zekon LLC General Contractor in Millville NJ. We do it all, and more! Contact us for a quote today!"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zekon LLC General Contractors</title>
  </head>
  <body class="bg-gradient-to-b from-black via-gray-600 to-purple-700">
    <main class="h-full flex flex-col items-center">
      <div class="flex w-full justify-center flex-wrap items-center py-6">
        <img
          src="../../public/zekon-logo.png"
          alt="Zekon Logo"
          class="h-36 mb-4"
        />
        <div
          class="w-11/12 mt-6 overflow-x-scroll overflow-y-hidden whitespace-nowrap bg-gradient-to-r from-black to-gray-600"
        >
          <img
            src="../../public/construct1.jpeg"
            alt="construction img 1"
            class="inline-block h-72"
          />
          <img
            src="../../public/construct2.jpeg"
            alt="construction img 2"
            class="inline-block h-72"
          />
          <img
            src="../../public/construct3.jpeg"
            alt="construction img 3"
            class="inline-block h-72"
          />
          <img
            src="../../public/construct4.jpeg"
            alt="construction img 4"
            class="inline-block h-72"
          />
          <img
            src="../../public/construct5.jpeg"
            alt="construction img 5"
            class="inline-block h-72"
          />
          <img
            src="../../public/construct6.jpeg"
            alt="construction img 6"
            class="inline-block h-72"
          />
          <img
            src="../../public/construct7.jpeg"
            alt=""
            class="inline-block h-72"
          />
          <img
            src="../../public/construct8.jpeg"
            alt="construction img 8"
            class="inline-block h-72"
          />
          <img
            src="../../public/construct9.jpeg"
            alt="construction img 9"
            class="inline-block h-72"
          />
        </div>
        <p class="text-white text-center pt-2 w-full">
          &larr; &nbsp; &nbsp; &rarr;
        </p>
      </div>

      <section class="flex flex-col items-center">
        <p class="text-white h-36 text-center text-2xl font-bold pt-2">
          Let us be the foundation for your next Home.
        </p>

        <p class="text-white text-center text-xl pb-6">
          Licensed and Insured for all your needs:
        </p>

        <ul class="flex flex-wrap justify-around">
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/new-home.jpg"
              alt="new homes photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              New Homes
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/deck.jpg"
              alt="deck photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Decks
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/roofing.jpg"
              alt="roofing photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Roofing
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/siding.jpg"
              alt="photo of siding"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Siding
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/trees.jpg"
              alt="tree service photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Tree Service
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/septic.jpg"
              alt="septic tank photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Septics
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/remodel.jpg"
              alt="remodling photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Remodeling
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/add.jpg"
              alt="home addition photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Home Additions
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/concrete.jpg"
              alt="concrete work photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Concrete
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/excavation.jpg"
              alt="excavation photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Excavating
            </p>
          </li>
          <li
            class="w-32 my-4 flex flex-col items-center justify-center lg:w-64"
          >
            <img
              src="../../public/maintenance.jpg"
              alt="property maintenance photo"
              class="h-32 lg:h-48"
            />
            <p
              class="text-white text-center pt-6 hover:underline underline-offset-4 font-extrabold"
            >
              Property Maintenance
            </p>
          </li>
        </ul>
      </section>

      <section class="pb-8 mt-8 flex flex-col items-center">
        <h2 class="text-white text-2xl text-center mb-8">Contact Us</h2>
        <p class="text-white text-2xl font-extrabold">609 579 9231</p>
        <p class="text-white text-2xl py-8 font-bold">OR</p>
        <form
          action="https://formsubmit.co/zekon84@icloud.com"
          method="POST"
          class="flex flex-wrap lg:w-1/2"
        >
          <input
            type="text"
            name="name"
            required
            placeholder="Your Name"
            class="rounded-lg lg:p-2 w-1/4 pl-2"
          />
          <input
            type="email"
            name="email"
            required
            placeholder="Email"
            class="rounded-lg lg:p-2 w-1/4 pl-2 ml-2"
          />
          <input type="hidden" name="_next" value="/thank-you" />
          <textarea
            placeholder="Your Message"
            class="w-full rounded-lg mt-4 h-24 lg:p-2"
            name="message"
            required></textarea>
          <button type="submit" class="rounded bg-white p-1 mt-4 w-24"
            >Send</button
          >
        </form>
      </section>
    </main>

    <footer class="flex justify-between py-6 px-4 border-t-2 border-white">
      <div class="h-16 pt-2">
        <p class="text-white text-xs">Zekon LLC General Contractors</p>
        <p class="text-white text-xs">Licensed and Insured</p>
        <p class="text-white text-xs">General Manager &#8226; Troy Pitts</p>
        <p class="text-white text-xs">609 579 9231</p>
      </div>
      <img
        src="../../public/zekon-logo.png"
        alt="Zekon Logo"
        class="h-12 lg:h-16"
      />
    </footer>
  </body>
</html>
