---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Thank You Page</title>
  </head>
  <body
    class="flex justify-center items-center h-screen bg-gradient-to-br from-purple-700 via-purple-900 to-black"
  >
    <main class="w-11/12 p-4 rounded-md lg:w-1/2 lg:h-72">
      <h1 class="text-white text-center py-4 font-extrabold text-2xl">
        Zekon LLC General Contractors
      </h1>
      <p
        class="text-white text-2xl font-bold mt-4 text-center border border-white rounded-md p-4"
      >
        Thank You for chosing us! You will hear back from us very soon.
      </p>
      <button class="mt-8">
        <a href="/" class="text-white font-extrabold">&larr; Back</a>
      </button>
    </main>
  </body>
</html>
